[submodule ".config/awesome/awesome-wm-widgets"]
	path = .config/awesome/awesome-wm-widgets
	url = https://github.com/streetturtle/awesome-wm-widgets.git
[submodule ".config/awesome/arc-icon-theme"]
	path = .config/awesome/arc-icon-theme
	url = https://github.com/horst3180/arc-icon-theme.git
