[submodule "vim/vim.symlink/bundle/nerdtree"]
	path = vim/vim.symlink/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "powershell/powershell.symlink/posh-git"]
	path = powershell/powershell.symlink/posh-git
	url = https://github.com/dahlbyk/posh-git.git
[submodule "powershell/powershell.symlink/posh-hg"]
	path = powershell/powershell.symlink/posh-hg
	url = https://github.com/JeremySkinner/posh-hg.git
[submodule ".\\vim\\vim.symlink\\bundle\\delmitMate"]
	path = .\\vim\\vim.symlink\\bundle\\delmitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule ".\\vim\\vim.symlink\\bundle/closetag"]
	path = .\\vim\\vim.symlink\\bundle/closetag
	url = https://github.com/docunext/closetag.vim.git
[submodule "vim/vim.symlink/bundle/nerdcommenter"]
	path = vim/vim.symlink/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/vim.symlink/bundle/supertab"]
	path = vim/vim.symlink/bundle/supertab
	url = https://github.com/ervandew/supertab.git
