[user]
    email = mail@prabir.me
    name = Prabir Shrestha

[core]
    {{#if (is_executable "delta")}}
    pager = delta
    {{/if}}
    {{#if (eq dotter.os "windows")}}
    symlinks = true
    autocrlf = true
    {{else}}
    autocrlf = input
    {{/if}}
    editor=vim

{{#if (eq dotter.os "windows")}}
[diff]
    tool = kdiff3
[difftool "kdiff3"]
    path = C:/Users/prshrest/scoop/shims/kdiff3.exe
[merge]
    tool = kdiff3
[mergetool "kdiff3"]
    path = C:/Users/prshrest/scoop/shims/kdiff3.exe
    keepBackup = false
    trustExitCode = false
{{/if}}
